:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --color-bg-blue: #2196f3;
  --color-logo-title: #000000;
  --color-bg-white: #ffffff;
  --secondary-background: #f5f4fa;
  --color-bg-hero-footer: #2f303a;
  --address-color-mail-tel: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid tomato;
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
}

.logo {
  color: var(--color-bg-blue);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color-header {
  color: var(--color-logo-title);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-color-footer {
  color: var(--color-bg-white);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Site nav */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link.current {
  color: var(--color-bg-blue);
}

.link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--color-bg-blue);
}

.link-header {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-header:hover,
.link-header:focus {
  color: var(--color-bg-blue);
}

.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--color-bg-blue);
}

/* hero 
=============================================================*/

/* .link {
  display: inline-block;
  padding: 16px 32px;

  border-radius: 3px;
  background-color: teal;
  color: white;

  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
} */

.hero {
  color: var(--color-bg-white);
  background: var(--color-bg-hero-footer);
  height: 600px;
  outline: 2px solid tomato;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* display: none; */
}

.button {
  background: var(--secondary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
}

.button:hover,
.button:focus {
  color: var(--color-bg-white);
  background: var(--color-bg-blue);
}

.pointer {
  cursor: pointer;
}

/* Features */

.features {
  outline: 1px solid tomato;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* work */

.work {
  outline: 1px solid tomato;
}
.work-title,
.team-title {
  color: var(--color-logo-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* .list {
  background-color: #f44336;
} */

/* team */
.team {
  background: var(--secondary-background);
  outline: 1px solid tomato;
}
.team-list {
  background: var(--color-bg-white);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-profession {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Profile */

.portfolio-buttons {
  outline: 1px solid tomato;
}

.gallery {
  outline: 1px solid tomato;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* footer */
.footer {
  background: var(--color-bg-hero-footer);
}

.link-footer {
  color: var(--address-color-mail-tel);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--color-bg-blue);
}

.link-footer-address {
  color: var(--color-bg-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link-footer-address:hover,
.link-footer-address:focus {
  color: var(--color-bg-blue);
}
